# Asset management assignment

**Question 1** : 
For this exercise use the file ”Tickers”, which specifies the tickers of the 50 stocks you should use
given your group number. Retrieve monthly Book-to-Market data and monthly prices for your
stocks from 1980. Present annualized performance statistics (average return, volatility, Sharpe
ratio, skewness, kurtosis and max drawdown) for your stocks

In [104]:
import pandas as pd
import numpy as np
import matplotlib as plt
import scipy.stats
import yfinance as yf

In [105]:
data_set_bme = pd.read_csv("data-bme.csv")
ticker_file = open('Tickers - Group 2.txt', 'r')
ticker_file = ticker_file.read()

In [106]:
data_set_bme = data_set_bme.rename(columns={'public_date': 'date', 'TICKER': 'ticker'}) #we will assume the Public date as the date of our signal
ticker_file_list = ticker_file.split(',')
ticker_file_list = [e.strip() for e in ticker_file_list]
data_set_bme = data_set_bme[data_set_bme['ticker'].isin(ticker_file_list)] #Let's remove the ticker which we were not assigned

In [100]:
tickers = ticker_file
start_date = '1980-01-01'
end_date = '2022-12-31'

prices_df = yf.download(tickers, start=start_date, end=end_date, group_by='ticker')
prices_df = prices_df.rename(columns={'Close': 'Price', 'Ticker': 'TICKER'})

[*********************100%***********************]  50 of 50 completed

In [101]:
cols = ['Open', 'High', 'Low', 'Adj Close', 'Volume']

prices_df = prices_df.drop(columns=cols,level=1)
prices_df = prices_df.sort_index(axis=1, level=0)
prices_df.columns = prices_df.columns.droplevel(1)

In [102]:
cols = ['permno', 'adate', 'qdate']
data_set_bme.set_index('ticker', inplace=True)
data_set_bme.dropna()
data_set_bme = data_set_bme.drop(columns=cols)

In [103]:
data_set_bme

              date     bm
ticker
TROW    1986-08-31  0.137
TROW    1986-09-30  0.137
TROW    1986-10-31  0.137
TROW    1986-11-30  0.187
TROW    1986-12-31  0.187
...            ...    ...
CBOE    2022-08-31  0.293
CBOE    2022-09-30  0.293
CBOE    2022-10-31  0.293
CBOE    2022-11-30  0.284
CBOE    2022-12-31  0.284

[15993 rows x 2 columns]

In [107]:
#Transpose the bme dataframe 
data_set_bme = data_set_bme.pivot_table(index='date', columns='ticker', values='bm')
data_set_bme.columns = pd.MultiIndex.from_product([data_set_bme.columns, ['bm']])
data_set_bme = data_set_bme.sort_index(axis=1)
data_set_bme.columns = data_set_bme.columns.droplevel(1)

In [108]:
data_set_bme

ticker,AIZ,ATO,CARR,CBOE,CE,CMCSA,CTVA,DG,ECL,EIX,...,ODFL,PEG,PGR,QCOM,SPGI,STT,TROW,TSN,V,WY
date,,,,,,,,,,,,,,,,,,,,,
1980-01-31,NaN,2.496,NaN,NaN,NaN,0.496,NaN,2.148,NaN,NaN,...,NaN,1.792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.643
1980-02-29,NaN,2.374,NaN,NaN,NaN,0.280,NaN,2.148,NaN,NaN,...,NaN,1.822,NaN,NaN,NaN,NaN,NaN,NaN,1.736,0.648
1980-03-31,NaN,2.374,NaN,NaN,NaN,0.280,NaN,1.907,NaN,NaN,...,NaN,1.822,NaN,NaN,NaN,NaN,NaN,NaN,1.736,0.648
1980-04-30,NaN,2.374,NaN,NaN,NaN,0.280,NaN,1.907,NaN,NaN,...,NaN,1.822,NaN,NaN,NaN,NaN,NaN,NaN,1.736,0.648
1980-05-31,NaN,3.182,NaN,NaN,NaN,0.280,NaN,1.907,NaN,NaN,...,NaN,2.110,NaN,NaN,NaN,NaN,NaN,NaN,1.990,0.763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,0.484,0.715,0.234,0.293,0.429,0.698,0.693,0.127,0.176,0.816,...,0.132,0.601,0.223,0.112,0.387,1.050,0.350,0.701,0.094,NaN
2022-09-30,0.484,0.715,0.234,0.293,0.429,0.698,0.693,0.127,0.176,0.816,...,0.132,0.601,0.223,0.112,0.387,1.050,0.350,0.701,0.094,NaN
2022-10-31,0.484,0.715,0.234,0.293,0.429,0.698,0.693,0.127,0.176,0.816,...,0.132,0.601,0.223,0.112,0.387,1.050,0.350,0.701,0.094,NaN
2022-11-30,0.533,0.796,0.258,0.284,0.571,0.863,0.634,0.127,0.186,0.897,...,0.139,0.670,0.210,0.144,0.417,1.058,0.379,0.934,0.105,NaN
2022-12-31,0.533,0.796,0.258,0.284,0.571,0.863,0.634,0.124,0.186,0.897,...,0.139,0.670,0.210,0.144,0.417,1.058,0.379,0.934,0.105,NaN

In [ ]:
def stats(returns):
    avg_return = returns.mean(skipna=True)
    volatility = returns.std(skipna=True)
    sharpe_ratio = (avg_return / volatility) * np.sqrt(12)
    skewness = returns.skew(skipna=True)
    kurtosis = returns.kurtosis(skipna=True)

    rolling_cumulative_returns = (1 + returns).cumprod()
    rolling_max = rolling_cumulative_returns.rolling(window=12, min_periods=1).max()
    drawdown = rolling_cumulative_returns / rolling_max - 1
    max_drawdown = drawdown.min(skipna=True)

    statistics_df = pd.DataFrame({
        'Average Return': avg_return * 12,
        'Volatility': volatility * np.sqrt(12),
        'Sharpe Ratio': sharpe_ratio,
        'Skewness': skewness,
        'Kurtosis': kurtosis,
        'Max Drawdown': max_drawdown})
    return statistics_df
# create a dataframe with the statistics


# set the index of the dataframe to the ticker
returns_df = prices_df.pct_change()
stats_df = stats(returns_df)
stats_df

**Question 2** : For each stock and each date, build a Momentum indicator which is defined as the cumulated
return over the past six months (note that, by construction, during the first six months of
the sample it will not be possible to build such momentum indicator). Use the characteristics
Book-to-Market and Momentum to build tercile portfolios, called: Value high, Value med and
Value low for Value (book-to-market); and MoM high, MoM med and MoM low for Momentum. To construct the six portfolios, at each date and for each one of the two characteristic, split
your 50 stocks in three equally weighted groups of similar sizes (example: for momentum in Jan
2000 you may have 16 stocks in the low Momentum group, 15 in the Middle group, 15 in the
high Momentum group and 4 stocks with missing observations at this date). Present annualized
performance statistics for the 6 portfolios.

In [ ]:
prices_df.index

In [ ]:
def momentum_6m(stock_df):
    cum_returns = stock_df.add(1).rolling(window=6).apply(np.prod, raw = True) - 1
    cum_returns = cum_returns.drop(cum_returns.index[0:5])
    return cum_returns

returns_6m = momentum_6m(returns_df)
returns_6m

In [ ]:
def tercile_port(df):
    mean_returns = df.mean()
    sorted_returns = mean_returns.sort_values(ascending=False)
    n = len(sorted_returns)
    hi = sorted_returns[:n//3].index
    med = sorted_returns[n//3:2*n//3].index
    lo = sorted_returns[2*n//3:].index
    portfolio_returns = pd.DataFrame(index=df.index, columns=['hi', 'med', 'lo'])
    for date, row in df.iterrows():
        hi_returns = row[hi].mean()
        med_returns = row[med].mean()
        lo_returns = row[lo].mean()
        portfolio_returns.loc[date] = [hi_returns, med_returns, lo_returns]
    return portfolio_returns

In [ ]:
mom_port = tercile_port(returns_6m)

bme_port = tercile_port(data_set_bme)

**Question 3** : Build two long-short portfolios for Value and Momentum using the tercile portfolios. Backtest
the portfolio and an equal weighed portfolio investing in the 50 stocks. Plot cumulated returns
and present annualized performance statistics

In [ ]:
def backtest_ws(rets, weighting, estimation_window=23, **args):
    """
    Backtests a given weighting scheme, given some parameters:
    rets : asset returns to use to build the portfolio
    estimation_window: the window to use to estimate parameters
    weighting: the weighting scheme to use, must be a function that takes "rets", and a variable number of arguments
    """
    n_periods = rets.shape[0]
    # list of overlapping rolling return windows for estimation
    windows = [(start, start+estimation_window) for start in range(n_periods-estimation_window+1)]
    # list of portfolio weights over time
    weights = [weighting(rets.iloc[win[0]:win[1]], **args) for win in windows]
    # convert to DataFrame
    weights = pd.DataFrame(weights, index=rets.iloc[estimation_window-1:].index, columns=rets.columns)
    returns = (weights * rets).sum(axis="columns",  min_count=1) #mincount is to generate NAs if all inputs are NAs
    return returns

def weight_ew(r):
    w = [ 1/len(r.columns) for _ in range(len(r.columns))]
    w = np.array(w)
    return w

In [ ]:
backtest_mom = backtest_ws(mom_port, weighting=weight_ew,estimation_window=12)
backtest_bme = backtest_ws(bme_port, weighting=weight_ew,estimation_window=12)

In [ ]:
btr = pd.DataFrame({"Bme": backtest_bme,"Mom": backtest_mom})
(1+btr).cumprod().plot(figsize=(12,5))

**Question 4** :  Naturally, neither Value nor Momentum is the perfect predictor of returns. To combine the
information that each characteristic contains, construct a composite characteristics. To this end,
standardize in each month each characteristic to have a cross-sectional mean (standard deviation)
of zero (one) and combine them into a single characteristic Sit defined as:

\begin{equation}
S_{it} = \frac{BM_{it} - E_t[BM_{it}]}{\sigma_t (BM_{it})} + \frac{Mom_{it} - E_t[Mom_{it}]}{\sigma_t (Mom_{it})}
\end{equation}

where the Mean and Standard deviation are taken over all stocks in the cross-section of month
t. Now, sort the stocks on the composite characteristic and construct the long-short portfolio
using tercile portfolios on this charateristics .Backtest this long-short portfolio. Plot cumulated
returns and present annualized performance statistics for this long-short portfolio.

**Question 5** : Discuss how the performance of the strategy at the previous point compares to a mixed strategy
that simply invests 50% in the the value long-short portfolio and %50 in the momentum longshort portfolio

**Question 6** : Consider the long-short portfolios on Value, Momentum, the mixed charateristic S ans the equally
weighted portfolio. Run performance analysis of this strategies against FF5M model. Comment
on the alphas, the factor exposures and the R2 of the factor regressions.

**Question 7** : Is the performance analysis (α) driven mostly by one of the two legs (long ot short)? Discuss
the implications for trading on long-only versus long-short tercile portfolios.

**Question 8** : Discuss theoretically how to modify the construction of the long-short Value portfolio in order
to make it market neutral (i.e. uncorrelated with returns on the market portfolio) over a rolling
widow of 3 years.